.address {
    /* margin: top right bottom left; */
    /* margin: top/bottom left/right */
    /* margin: top/bottom/left/right */
    margin: 5px 0;
    color: navy;
    text-align: center;
    font-weight: bold;
}

.top-line {
    font-size: 18px;
    text-transform: uppercase;
}

.first-letter {
    font-size: 28px;
}

.inc {
    font-size: 14px;
}

.mid-line {
    font-size: 12px;
}

.geico {
    color: navy;
    margin: 5px 0;
    text-transform: uppercase;
    text-align: center;
}

.top      {
    font-size: 18px;
    font-weight: bold;
}
.mid {
    font-size: 10px;
}
.bot-text {
    color: navy;
    font-size: 12px;
}
.botmid-text {
    font-size: 12px;
}

.section2, .list1, .list2 {
    float: left;
}
.list1, .list2 {
    width: 45%;
}

li {
    margin-bottom: 20px;
}
