.flex-container {
    display: flex;
    align-self: flex-start;
    /* flex-direction: column; */
    justify-content: space-evenly;
    background-color: aqua;
    align-items: flex-start;
    margin-bottom: 100px;
}

.ex1box {
    /* height: 75px;
    width: 50px; */
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 2px 10px;
    background-color: blue;
}

.one {
    height: 50px;
    width: 50px;
    margin: 10px 2px 2px 10px;
}

.two {
    height: 40px;
    width: 40px;
}

.three {
    height: 40px;
    width: 70px;
}

.four {
    height: 80px;
    width: 30px;
    margin: 2px 2px 10px 10px;
}





.container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    border: 2px solid black;
    height: 100px;
}

.subcontainer {
    display: flex;
    border: 2px solid black;
    margin: 5px 5px;
}

.ex2box {
    width: 50px;
    height: auto;
    text-align: center;
    font-size: 30px;

    /* border: 2px solid black; */
    margin: 5px 5px;
}

.num1 {
    background-color: indianred;
}

.num2 {
    background-color: darksalmon;
}
.num3 {
    background-color: yellowgreen;
}

container
.container2 {
    display: flex;
    border: 2px solid black;
    margin-top: 10px;
    width: 40%;
    
}