/* p {
    color: blue;
} */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h5 {
    margin: 5px;
}

a {
    text-decoration: none;
    color: #ff8b68;
    margin: 5px;
}

p {
    margin: 5px;
}

header {
    position: sticky;
    top: 50px;
    width: 90%;
    max-width: 1800;
    margin: 2em auto;
    margin-bottom: 10em;
    padding: 1em .5em;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a2456;
    color: #ff8b68;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left p {
    margin-left: .25em;
    font-size: clamp(6.5rem, 4.5vw, 2.5rem);
    text-transform: uppercase;
}

.header-left i {
    font-size: clamp(2rem, 5.5vw, 3rem);
}

nav a {
    font-size: clamp(.5rem, 3vw, 1.5 rem);
    margin-left: .5rem;
    color: #ff8b68;
    text-transform: uppercase;

}

.hero-section {
    background-image: url(../images/monogram_imgs/consolebg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    padding-top: 1em;
    padding-bottom: 10em;
}

.hero {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
    margin-bottom: 10em;
    /* border: 2px solid white; */
}

.hero h1 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: #ff8b68;
}

.hero p {
    width: 70%;
    margin: 1rem auto;
    text-align: center;
    color: #f5c2b2;
    font-size: clamp(.5rem, 3vw, 1.5rem);
}


.products {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #f0efed;
}

.product {
    width: clamp(25em, 48%, 60em);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    /* border: 2px solid black; */
}

.product img {
    display: inline-block;
   aspect-ratio: 1/1;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    text-transform: uppercase;
    font-weight: bold;
}

.item-description {
    margin: .25em 0;
}

footer {
    background-color: #1a2456; 
}

.col-container {
    padding-left: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-col {
    width: 50%;
    margin: .5em 0;
    color: #ff8b68;
    display: flex;
    flex-direction: column;
    
}

@media (max-width: 700px) {

    footer {
        flex-direction: column-reverse;
    }
}

.icon {
    align-items: center;
    color: #1a2456;
    background-color: #efc2b3;
    border-radius: 50%;
    display: inline-flex;
    height: 2em;
    padding: .5em;
    text-align: center;
    width: 2em;
}

button {
    background-color: #ff8b68;
    border-radius: 12px;
    width: 50%;
    margin: 5px2;
}