* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

li {
    font-size: 12px;
    list-style: none;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 2px black;
    height: 5rem;
}

.header-left {
    display: flex;
    flex-direction: row;
    text-align: center;
}


header button {
    margin-right: 2rem;
    background-color: transparent;
    border: none;
}

.feature-options {
    display: none;
}

/* .features:hover {
    display: block;
} */

/* header button:hover {
    font-weight: bold;
} */

.title {
    display: flex;
    text-align: center;
    /* border: 2px solid black; */
    margin: 1.75rem;
    height: 50%;
}

.header-right {
    display: flex;
    align-items: center;
}

.features {
    margin-left: 1.5rem;
}

main {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-left p {
    margin-bottom: 3rem;
}

.main-left {
    /* padding: 2rem; */
    /* width: 100rem; */
    margin-left: 4rem;
    display: flex;
    flex-direction: column;

}

.sync {
    color: gray;
    font-size: 1.5rem;
    width: 90%;
}

.main-right {
    margin-top: 4rem;
    /* margin-right: 15rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.desktopimage {
    width: 60%;
    min-width: 25rem;
    height: 60%;

}

.remote {
    font-size: 10vh;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-bottom: 6vh;
    color: rgb(20, 20, 20);
}


.learn {
    height: 3rem;
    width: 150px;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    background-color: rgb(20, 20, 20);
    border: transparent;
    font-weight: bold;
    /* margin-bottom: 300px; */
}

.sponsors {
    display: flex;
    justify-content: space-around;
    /* border: solid 2px black; */
    margin-top: 200px;
    height: 25px;
    width: 550px;
}

.sponsors img {
    margin-right: 20px;
}

.mobileimage {
    display: none;
}

.hamburger-button {
    display: none;
    font-size: 24px;
}


@media (max-width: 375px) {

    header .button1{
        display: none;
    }

    header ul {
        display: none;
    }

    .hamburger-button {
        display: block;
    }

    main {
        margin: 0px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .main-left {
        margin: 0;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .main-right {
        margin: 0;
    }

    .remote {
        font-size: 6vh;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 6vh;
        color: rgb(20, 20, 20);
    }

    .sync {
        color: gray;
        font-size: 1.25rem;
        width: 375px;
        text-align: center;
    }

    .desktopimage {
        display: none;
        /* width: 10%;
        min-width: 375px;
        height: 400px; */
    }

    .mobileimage {
        margin-top: 10%;
        display: block;
       width: 10%;
       min-width: 375px;
       height: 400px; 
    }

    .learn {
        height: 3rem;
        width: 150px;
        border-radius: 15px;
        font-size: 20px;
        color: white;
        background-color: rgb(20, 20, 20);
        border: transparent;
        font-weight: bold;
        /* margin-bottom: 300px; */
    }
    
    .sponsors {
        display: flex;
        justify-content: space-around;
        /* border: solid 2px black; */
        margin-top: 50px;
        height: 25px;
        width: 360px;
    }

    .sponsors img {
        margin-right: 5px;
    }
}