.head {
    font-style: italic;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.strawberry-pic {
    border-style: dashed;
    border-color: red;
}

.strawborder {
    text-align: center;
}

.sub-head {
    font-size: 19px;
    font-weight: bold;
    color: red;
    font-style: italic;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 20px;
}
li {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 20px;
}

body {

    background-color: red;
}
.everything {
    background-color: white;
    margin: 0px 5% 0% 5% ;
    border-style: solid;
    border-color: black;
}
.footer_left {
    font-family: 'Times New Roman', Times, serif;
}