* {
    margin: 0;
    padding: 0;
}

.header1, .footer1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 2px black solid;
    color: white;
    background-color: darkslategray;
    height: 100px;
    align-items: center;
    padding: 20px 20px;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin-right: 10px;
    font-size: 20px;
}

.links {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    /* border: 2px black solid; */
    align-items: center;
    text-decoration: none;
    color: inherit;
}


.links:hover {
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.link {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

main {
    height: 72vh;
    margin: 3em auto;
}

form {
    width: 90%;
    margin: 3em auto;
}

.full-name {
    display: flex;
    flex-direction: row;
}

.full-name p {
    margin-right: 7em;
}

.full-name input {
    margin-right: 1em;
}

.required {
    color: red;
}

label {
    display: block;
}



.footer_left {
    font-family: 'Times New Roman', Times, serif;
}