* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.header1, .footer1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 2px black solid;
    color: white;
    background-color: darkslategray;
    height: 100px;
    align-items: center;
    padding: 20px 20px;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin-right: 10px;
    font-size: 20px;
}

/* .header  {
    text-decoration: none;
    color: white;
} */

.hamburger {
    font-size: 30px;

}

.hamburger-button {
    display: none;
    color: white;
    border: transparent;
    background-color: transparent;
}

.hamburger-menu {
    display: none;
}

.hamburger-option {
    display: none;
}

.links {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    /* border: 2px black solid; */
    align-items: center;
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1020px) { 
    
    /* .hamburger-menu {
        display: none;
    } */

    .hamburger-button {
        display: block;
    }

    .links {
        display: none;
    }

    .hamburger-menu {
        display: none;
        position: absolute ;
        height: 36vh;
        width: 100%;
        background-color: darkslategray;
        z-index: 1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-size: 25px;
        border: 2px solid black;
    }

    .hamburger-option {
        display: block;
        margin: 7px;
    }

    main {
        position: relative;
    }
}




.four-card {
    display: flex;
    flex-direction: column;
}

.features {
    display: flex;
    flex-direction: row;
}


.feature {
    border: 2px solid black;
}











.card-title {
    margin: 20px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}

.FAQ {
    margin: 10px;
}

.links:hover {
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.link {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

main {
    height: 140vh;
    margin-bottom: 3em auto;
}

.card {
    position: absolute;
    bottom: 5vh;
    /* left: 3.5vw; */
    height: 80vh;
    width: 90%;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: #221524;
    /* justify-content: center; */
    /* align-items: center; */
}

.card img {
    height: 30px;
}

.question {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.answer {
    font-weight: bold;
    color: #7a697d;
    display: none;
}

.question button {
    border: transparent;
    background: transparent;
}

.minus {
    display: none;
}

.top {
    position: relative;
    height: 30vh;
    background-color: black;
    background-image: url(/images/background-pattern-mobile.svg);
    /* height: 100%; */
    /* width: 400px; */

}

.bottom {
    position: relative;
    display: flex;
    height: 70vh;
    justify-content: center;
    background-color: #f7daeb;
}










form {
    width: 95%;
    margin: 3em auto;
}

form input {
    margin-right: 1em;
}

form p {
    /* margin-right: 4em; */
    width: 20%;
}

.full-name {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.required {
    color: red;
}

label {
    display: block;
}

.location {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.location-inner {
    display: flex;
    flex-direction: column;
}

.location-inner input {
    margin-right: 1em;
}

.address {
    margin-bottom: 1.5vh;
}

.general-area {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5vh;
}


.email-address {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.phone-number {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.positions {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.date {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.upload-resume {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.take-photo {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.photo {
    width: 20em;
    height: 2em;
}

.terms {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.terms p {
    width: 25%;
}

.conditions {
    color: aqua;
}

.Submit {
    display: flex;
    justify-content: center;
}

.Submit input {
    height: 2.5em;
    width: 8em;
}

.footer_left {
    font-family: 'Times New Roman', Times, serif;
}