* {
    margin: 0;
    padding: 0;
}

.header1, .footer1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 2px black solid;
    color: white;
    background-color: darkslategray;
    height: 100px;
    align-items: center;
    padding: 20px 20px;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin-right: 10px;
    font-size: 20px;
}

.links {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    /* border: 2px black solid; */
    align-items: center;
    text-decoration: none;
    color: inherit;
}


.links:hover {
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.link {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

main {
    height: 140vh;
    margin-bottom: 3em auto;
}

.card {
    position: absolute;
    bottom: 70vw;
    /* left: 3.5vw; */
    height: 200px;
    width: 325px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    /* position: relative; */
    height: 230px;
    width: 400px;

}

.bottom {
    position: relative;
    display: flex;
    height: 500px;
    width: 375px;
    justify-content: center;
    background-color: burlywood;
}

form {
    width: 95%;
    margin: 3em auto;
}

form input {
    margin-right: 1em;
}

form p {
    /* margin-right: 4em; */
    width: 20%;
}

.full-name {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.required {
    color: red;
}

label {
    display: block;
}

.location {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.location-inner {
    display: flex;
    flex-direction: column;
}

.location-inner input {
    margin-right: 1em;
}

.address {
    margin-bottom: 1.5vh;
}

.general-area {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5vh;
}


.email-address {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.phone-number {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.positions {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.date {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.upload-resume {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.take-photo {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.photo {
    width: 20em;
    height: 2em;
}

.terms {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.terms p {
    width: 25%;
}

.conditions {
    color: aqua;
}

.Submit {
    display: flex;
    justify-content: center;
}

.Submit input {
    height: 2.5em;
    width: 8em;
}

.footer_left {
    font-family: 'Times New Roman', Times, serif;
}